<>
  <effect meta={{}} run={async () => {}} />
  <>
    <header
      class={`flex self-stretch items-center justify-start px-12 py-6 bg-white`}
    >
      <img
        src="/fimgs/23_913.x3.png"
        style="width: 52px; min-width: 52px; max-width: 52px; height: 54px; min-height: 54px; max-height: 54px;"
      />
      <div class={`flex flex-1 space-x-12 items-center justify-end`}>
        <div
          class={`flex flex-1 self-stretch space-x-10 items-center justify-end`}
        >
          <div class="text-base leading-snug text-center text-warmGray-500">
            Fitur
          </div>
          <div class="text-base leading-snug text-center text-warmGray-500">
            Akun Premium
          </div>
          <div class="text-base leading-snug text-center text-warmGray-500">
            Tentang Kami
          </div>
          <div class="text-base leading-snug text-center text-warmGray-500">
            Hubungi Kami
          </div>
        </div>
        <div class="flex space-x-10 items-center justify-start">
          <div class="text-base font-medium leading-snug text-center text-indigo-500">
            Daftar
          </div>
          <div class="flex flex-col items-center justify-center px-8 py-4 bg-indigo-500 rounded-lg">
            <div class="text-base font-medium leading-snug text-white">
              Masuk
            </div>
          </div>
        </div>
      </div>
    </header>
    <div
      class={`flex flex-1 self-stretch flex-col items-center justify-start px-12 py-8`}
    >
      <div class="flex self-stretch flex-col space-y-16 items-center justify-center">
        <div class="flex flex-1 self-stretch flex-col space-y-24 items-center justify-center pt-16">
          <div class="flex self-stretch flex-col space-y-16 items-center justify-center">
            <div class="flex self-stretch flex-col space-y-8 items-center justify-center">
              <div class="text-5xl font-medium tracking-wide leading-10 text-center text-gray-600">
                Kelola daftar kebutuhanmu secara efektif dan efesien
              </div>
              <div class="text-2xl tracking-wide leading-loose text-center text-warmGray-500">
                Mudah, Efektif dan Efesien
              </div>
              <div class="flex flex-col items-center justify-center px-8 py-4 bg-indigo-500 rounded-lg">
                <div class="text-base font-medium leading-snug text-white">
                  Mulai Sekarang
                </div>
              </div>
            </div>
            <img
              src="/fimgs/23_932.x1.svg"
              class="flex flex-1 self-stretch flex-col items-center justify-center px-6 py-5 bg-indigo-500 rounded-2xl"
              style="width: 1240px; min-width: 1240px; max-width: 1240px; height: 687.36px; min-height: 687.36px; max-height: 687.36px;"
            />
          </div>
          <div class="flex self-stretch items-start justify-start p-2.5">
            <div class="text-4xl font-medium tracking-wide leading-10 text-center text-gray-600">
              Keuntungan yang akan anda peroleh menggunakan List Wae
            </div>
          </div>
        </div>
        <div class="flex flex-1 self-stretch flex-col space-y-16 items-start justify-start">
          <img
            src="/fimgs/23_937.x1.svg"
            class="flex self-stretch space-x-24 items-center justify-center pt-16"
            style="width: 1240px; min-width: 1240px; max-width: 1240px; height: 540.52px; min-height: 540.52px; max-height: 540.52px;"
          />
          <div class="flex self-stretch flex-col space-y-16 items-center justify-center">
            <div class="flex self-stretch flex-col space-y-8 items-center justify-center">
              <div class="flex self-stretch items-start justify-start p-2.5">
                <div class="text-4xl font-medium tracking-wide leading-10 text-center text-gray-600">
                  Cari tau sekarang apa yang mereka katakan tentang ListWae
                </div>
              </div>
              <div class="flex self-stretch space-x-9 items-start justify-start">
                <div class="flex flex-1 self-stretch flex-col items-start justify-start px-5 py-6 bg-white rounded-lg">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                    <div class="flex self-stretch space-x-6 items-center justify-start">
                      <div class="flex flex-col">
                        <div class="bg-warmGray-300 rounded-full" />
                        <div class="flex items-start justify-start pr-24 pt-3 pb-24 absolute right-0 top-0">
                          <div style="background-image: url('/fimgs/bg-077d15ce268f1c2968bfec5d640130099e15934b');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                      </div>
                      <div class="text-2xl font-medium tracking-wide leading-9 text-gray-600">
                        Melisa
                      </div>
                    </div>
                    <div class="text-lg tracking-wide leading-relaxed text-warmGray-500">
                      Saya dapat melakuakan todo list kebutuhan dengan mudah dan
                      juga fitur fitur yang diberikan kepada pengguna cukup
                      memudahkan saya untuk memanagement kebutuhan
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 self-stretch flex-col items-start justify-start px-5 pt-6 pb-8 bg-white rounded-lg">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                    <div class="flex self-stretch space-x-6 items-center justify-start">
                      <div class="flex flex-col">
                        <div class="bg-warmGray-300 rounded-full" />
                        <div
                          class="absolute left-0 top-0"
                          style="background-image: url('/fimgs/bg-f73af5a4f5990ceef000cb3dcdbfd392be8dedce');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                      <div class="text-2xl font-medium tracking-wide leading-9 text-gray-600">
                        Anisa lestari
                      </div>
                    </div>
                    <div class="text-lg tracking-wide leading-relaxed text-warmGray-500">
                      Saya dapat melakuakan todo list kebutuhan dengan mudah dan
                      juga fitur fitur yang diberikan kepada pengguna cukup
                      memudahkan saya untuk memanagement kebutuhan
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 self-stretch flex-col items-start justify-start px-5 pt-6 pb-8 bg-white rounded-lg">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch space-x-6 items-center justify-start">
                      <div class="flex flex-col">
                        <div class="bg-warmGray-300 rounded-full" />
                        <div
                          class="absolute left-0 top-0"
                          style="background-image: url('/fimgs/bg-f73af5a4f5990ceef000cb3dcdbfd392be8dedce');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                      <div class="text-2xl font-medium tracking-wide leading-9 text-gray-600">
                        Putri Salma
                      </div>
                    </div>
                    <div class="text-lg tracking-wide leading-relaxed text-warmGray-500">
                      Alhamdulillah cukup ngebantu saya dalam melakukan list
                      barang setiap hari{" "}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-10 items-center justify-center">
              <div class="flex self-stretch flex-col space-y-6 items-center justify-center">
                <div class="text-4xl font-medium tracking-wide leading-10 text-center text-gray-600">
                  Tunggu apa lagi? Buktikan sekarang juga!
                </div>
                <div class="text-2xl tracking-wide leading-loose text-center text-warmGray-500">
                  Daftar sekarang juga, anda akan mendapatkan banyak keuntungan
                  menggunakan ListWae
                </div>
              </div>
              <div class="flex flex-col items-center justify-center px-8 py-4 bg-indigo-500 rounded-lg">
                <div class="text-base font-medium leading-snug text-white">
                  Mulai Sekarang
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class={`flex self-stretch flex-col items-center justify-center px-16 py-14 bg-indigo-500`}
    >
      <div class="flex self-stretch space-x-7 items-start justify-start">
        <div class="flex flex-1 flex-col space-y-8 items-start justify-start">
          <div class="bg-white" />
          <div class="text-sm leading-tight text-white">
            LIstWae merupakan platfrom website yang dapat membantu melakukan
            daftar kebutuhan secra efisien
          </div>
        </div>
        <div class="flex flex-1 space-x-9 items-start justify-start">
          <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
            <div class="text-xl tracking-wide leading-loose text-white">
              Links
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Fitur
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Akun Premium
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Tentang Kami
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Hubungi Kami
            </div>
          </div>
          <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
            <div class="text-xl tracking-wide leading-loose text-white">
              Company
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Tentang Kami
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Alamat
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Karir
            </div>
          </div>
          <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
            <div class="text-xl tracking-wide leading-loose text-white">
              Social Media
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Facebook
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Instagram
            </div>
            <div class="text-lg tracking-wide leading-relaxed text-trueGray-100">
              Linkedln
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>